<h1>Galpões & Estoque</h1>

<% @warehouses.each do |w| %>
<ul>
  <li><%= link_to(w.name, warehouse_path(w.id)) %></li>
  <li>Código: <%= w.code %></li>
  <li>Cidade: <%= w.city %></li>
  <li>Área: <%= w.area %> m²</li>
</ul>
<% end %>

<% if @warehouses.empty? %>
  <p>Não existem galpões cadastrados</p>
<% end %>